<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.system.mapper.CdBomMapper">

    <resultMap type="CdBom" id="CdBomResult">
                    <result property="id" column="id"/>
                    <result property="productMaterialCode" column="product_material_code"/>
                    <result property="productMaterialDesc" column="product_material_desc"/>
                    <result property="factoryCode" column="factory_code"/>
                    <result property="rawMaterialCode" column="raw_material_code"/>
                    <result property="rawMaterialDesc" column="raw_material_desc"/>
                    <result property="basicNum" column="basic_num"/>
                    <result property="bomNum" column="bom_num"/>
                    <result property="productUnit" column="product_unit"/>
                    <result property="componentUnit" column="component_unit"/>
                    <result property="version" column="version"/>
                    <result property="purchaseGroup" column="purchase_group"/>
                    <result property="storagePoint" column="storage_point"/>
                    <result property="delFlag" column="del_flag"/>
                    <result property="remarks" column="remarks"/>
                    <result property="createTime" column="create_time"/>
                    <result property="createBy" column="create_by"/>
                    <result property="updateTime" column="update_time"/>
                    <result property="updateBy" column="update_by"/>
                    </resultMap>

    <sql id="selectCdBomVo">
        select id, product_material_code, product_material_desc, factory_code, raw_material_code, raw_material_desc, basic_num, bom_num, product_unit, component_unit, version, purchase_group, storage_point, del_flag, remarks, create_time, create_by, update_time, update_by from cd_bom
    </sql>


</mapper>
