<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.system.mapper.CdFactoryLineInfoMapper">

    <resultMap type="CdFactoryLineInfo" id="CdFactoryLineInfoResult">
        <result property="id" column="id"/>
        <result property="supplierCode" column="supplier_code"/>
        <result property="supplierDesc" column="supplier_desc"/>
        <result property="productFactoryCode" column="product_factory_code"/>
        <result property="productFactoryDesc" column="product_factory_desc"/>
        <result property="produceLineCode" column="produce_line_code"/>
        <result property="produceLineDesc" column="produce_line_desc"/>
        <result property="branchOffice" column="branch_office"/>
        <result property="branchOfficeEmail" column="branch_office_email"/>
        <result property="monitor" column="monitor"/>
        <result property="monitorEmail" column="monitor_email"/>
        <result property="attribute" column="attribute"/>
        <result property="productQuota" column="product_quota"/>
        <result property="delFlag" column="del_flag"/>
        <result property="remark" column="remark"/>
        <result property="createTime" column="create_time"/>
        <result property="createBy" column="create_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateBy" column="update_by"/>
    </resultMap>

    <sql id="selectCdFactoryLineInfoVo">
        select id,
               supplier_code,
               supplier_desc,
               product_factory_code,
               product_factory_desc,
               produce_line_code,
               produce_line_desc,
               branch_office,
               branch_office_email,
               monitor,
               monitor_email,
               attribute,
               product_quota,
               del_flag,
               remark,
               create_time,
               create_by,
               update_time,
               update_by
        from cd_factory_line_info
    </sql>


    <select id="selectLineCodeBySupplierCode" resultType="java.lang.String">
        select group_concat(produce_line_code) from cd_factory_line_info
        WHERE supplier_code=#{supplierCode} and del_flag='0' GROUP BY supplier_code
    </select>

    <select id="selectInfoByCodeLineCode" resultMap="CdFactoryLineInfoResult">
        <include refid="selectCdFactoryLineInfoVo" />
        where produce_line_code=#{produceLineCode}
        and product_factory_code=#{factoryCode}
         and del_flag='0' LIMIT 1
    </select>

    <select id="selectListByMapList" resultMap="CdFactoryLineInfoResult" parameterType="list">
        <include refid="selectCdFactoryLineInfoVo"/>
        <where>
            <foreach collection="list" item="item" separator="or">
                (product_factory_code = #{item.productFactoryCode}
                and produce_line_code = #{item.productLineCode})
            </foreach>
        </where>
    </select>
</mapper>
