<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.system.mapper.CdMaterialInfoMapper">

    <resultMap type="CdMaterialInfo" id="CdMaterialInfoResult">
                    <result property="id" column="id"/>
                    <result property="materialCode" column="material_code"/>
                    <result property="materialDesc" column="material_desc"/>
                    <result property="materialType" column="material_type"/>
                    <result property="primaryUom" column="primary_uom"/>
                    <result property="mtlGroupCode" column="mtl_group_code"/>
                    <result property="purchaseGroupCode" column="purchase_group_code"/>
                    <result property="plantCode" column="plant_code"/>
                    <result property="roundingQuantit" column="rounding_quantit"/>
                    <result property="lastUpdate" column="last_update"/>
                    <result property="uph" column="uph"/>
                    <result property="delFlag" column="del_flag"/>
                    <result property="remark" column="remark"/>
                    <result property="createTime" column="create_time"/>
                    <result property="createBy" column="create_by"/>
                    <result property="updateTime" column="update_time"/>
                    <result property="updateBy" column="update_by"/>
                    </resultMap>

    <sql id="selectCdMaterialInfoVo">
        select id, material_code, material_desc, material_type, primary_uom, mtl_group_code, purchase_group_code, plant_code, rounding_quantit, last_update,uph, del_flag, remark, create_time, create_by, update_time, update_by from cd_material_info
    </sql>

    <update id="updateBatchByFactoryAndMaterial" parameterType="list">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update cd_material_info
            <trim prefix="set" suffixOverrides=",">
                <if test="item.primaryUom != null and item.primaryUom != ''">
                    primary_uom = #{item.primaryUom},
                </if>
                <if test="item.mtlGroupCode != null and item.mtlGroupCode != ''">
                    mtl_group_code = #{item.mtlGroupCode},
                </if>
                <if test="item.purchaseGroupCode != null and item.purchaseGroupCode != ''">
                    purchase_group_code = #{item.purchaseGroupCode},
                </if>
                <if test="item.roundingQuantit != null">
                    rounding_quantit = #{item.roundingQuantit},
                </if>
                <if test="item.lastUpdate != null and item.lastUpdate != ''">
                    last_update = #{item.lastUpdate},
                </if>
                <if test="item.uph != null">
                    uph = #{item.uph},
                </if>
                <if test="item.updateBy != null and item.updateBy != ''">
                    update_by = #{item.updateBy}
                </if>
            </trim>
            <where>
                1=1
                <if test="item.plantCode != null and item.plantCode != ''">
                    and plant_code = #{item.plantCode}
                </if>
                <if test="item.materialCode != null and item.materialCode != ''">
                    and material_code = #{item.materialCode}
                </if>
            </where>
        </foreach>
    </update>


    <select id="selectInfoByInMaterialCodeAndMaterialType" resultMap="CdMaterialInfoResult">
        <include refid="selectCdMaterialInfoVo"/>
        where
        del_flag='0' and
        material_code in
        <foreach collection="materialCodes" item="materialCode" open="(" separator="," close=")">
            #{materialCode}
        </foreach>
        <if test="materialType != null and materialType != ''">
            and material_type = #{materialType}
        </if>
    </select>
    <select id="selectListByMaterialList" parameterType="list" resultMap="CdMaterialInfoResult">
      <include refid="selectCdMaterialInfoVo"/>
        <where>
            <foreach collection="list" index="index" separator="or" open="(" close=")" item="item">
               material_code = #{item.productMaterialCode,jdbcType=VARCHAR}
                and plant_code = #{item.productFactoryCode,jdbcType=VARCHAR}
                and material_type = #{item.materialType,jdbcType=VARCHAR}
            </foreach>
        </where>
    </select>

    <delete id="deleteBatchByFactoryAndMaterial" parameterType="list">
        <foreach collection="list" item="item" separator=";">
            delete from cd_material_info
            <where>
                plant_code = #{item.plantCode}
                and material_code = #{item.materialCode,jdbcType=VARCHAR}
            </where>
        </foreach>
    </delete>
</mapper>
