<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.system.mapper.CdMaterialPriceInfoMapper">

    <resultMap type="CdMaterialPriceInfo" id="CdMaterialPriceInfoResult">
        <result property="id" column="id"/>
        <result property="materialCode" column="material_code"/>
        <result property="materialDesc" column="material_desc"/>
        <result property="processPrice" column="process_price"/>
        <result property="memberCode" column="member_code"/>
        <result property="memberName" column="member_name"/>
        <result property="purchasingGroup" column="purchasing_group"/>
        <result property="purchasingOrganization" column="purchasing_organization"/>
        <result property="taxCode" column="tax_code"/>
        <result property="netWorth" column="net_worth"/>
        <result property="kbetr" column="kbetr"/>
        <result property="currency" column="currency"/>
        <result property="priceUnit" column="price_unit"/>
        <result property="unit" column="unit"/>
        <result property="agencyFee" column="agency_fee"/>
        <result property="beginDate" column="begin_date"/>
        <result property="endDate" column="end_date"/>
        <result property="sapCreatedDate" column="sap_created_date"/>
        <result property="priceType" column="price_type"/>
        <result property="remark" column="remark"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="mapKey" column="mapKey"/>
    </resultMap>

    <sql id="selectCdMaterialPriceInfoVo">
        select id,
               material_code,
               material_desc,
               process_price,
               member_code,
               member_name,
               purchasing_group,
               purchasing_organization,
               tax_code,
               net_worth,
               kbetr,
               currency,
               price_unit,
               unit,
               agency_fee,
               begin_date,
               end_date,
               sap_created_date,
               price_type,
               remark,
               del_flag,
               create_by,
               create_time,
               update_by,
               update_time
        from cd_material_price_info
    </sql>

    <select id="selectPriceByInMaterialCodeAndDate" resultMap="CdMaterialPriceInfoResult">
        select id,
        material_code,
        material_desc,
        process_price,
        member_code,
        member_name,
        purchasing_group,
        purchasing_organization,
        tax_code,
        net_worth,
        kbetr,
        currency,
        price_unit,
        unit,
        agency_fee,
        begin_date,
        end_date,
        sap_created_date,
        price_type,
        remark,
        del_flag,
        create_by,
        create_time,
        update_by,
        update_time,CONCAT(material_code,purchasing_organization,member_code) as mapKey
        from cd_material_price_info
        where
        del_flag='0' and
        material_code in
        <foreach collection="materialCodes" item="materialCode" open="(" separator="," close=")">
            #{materialCode}
        </foreach>
        and
        <![CDATA[
        begin_date <= #{beginDate} and end_date>=#{endDate}
        ]]>
    </select>
    <delete id="deleteAll">
        DELETE FROM cd_material_price_info;
    </delete>

    <insert id="batchInsertOrUpdate">
        insert into cd_material_price_info (
        material_code,
        material_desc,
        process_price,
        member_code,
        member_name,
        purchasing_group,
        purchasing_organization,
        tax_code,
        net_worth,
        kbetr,
        currency,
        price_unit,
        unit,
        agency_fee,
        begin_date,
        end_date,
        sap_created_date,
        price_type,
        remark,
        del_flag,
        create_by,
        update_by)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.materialCode},
            #{item.materialDesc},
            ifnull(#{item.processPrice}, null),
            #{item.memberCode},
            ifnull(#{item.memberName}, ''),
            #{item.purchasingGroup},
            #{item.purchasingOrganization},
            ifnull(#{item.taxCode}, ''),
            ifnull(#{item.netWorth}, null),
            ifnull(#{item.kbetr}, ''),
            ifnull(#{item.currency}, ''),
            ifnull(#{item.priceUnit}, ''),
            ifnull(#{item.unit}, ''),
            ifnull(#{item.agencyFee}, null),
            ifnull(#{item.beginDate}, null),
            ifnull(#{item.endDate}, null),
            ifnull(#{item.sapCreatedDate}, ''),
            #{item.priceType},
            ifnull(#{item.remark}, ''),
            ifnull(#{item.delFlag}, 0),
            ifnull(#{item.createBy}, ''),
            ifnull(#{item.updateBy}, '')
            )
        </foreach>
        ON DUPLICATE KEY UPDATE
        material_code = VALUES(material_code),
        material_desc = VALUES(material_desc),
        process_price = VALUES(process_price),
        member_code = VALUES(member_code),
        member_name = VALUES(member_name),
        purchasing_group = VALUES(purchasing_group),
        purchasing_organization = VALUES(purchasing_organization),
        tax_code = VALUES(tax_code),
        net_worth = VALUES(net_worth),
        kbetr = VALUES(kbetr),
        currency = VALUES(currency),
        price_unit = VALUES(price_unit),
        unit = VALUES(unit),
        agency_fee = VALUES(agency_fee),
        begin_date = VALUES(begin_date),
        end_date = VALUES(end_date),
        sap_created_date = VALUES(sap_created_date),
        remark = VALUES(remark),
        price_type = VALUES(price_type),
        del_flag = VALUES(del_flag),
        create_by = VALUES(create_by),
        update_by = VALUES(update_by),
        update_time = now()
    </insert>
</mapper>
