package ${packageName}.mapper;

import ${packageName}.domain.entity.${ClassName};
import com.cloud.common.core.dao.BaseMapper;
/**
 * ${functionName}Mapper接口
 *
 * @author ${author}
 * @date ${datetime}
 */
public interface ${ClassName}Mapper extends BaseMapper<${ClassName}>{

}
