package ${packageName}.service;

import ${packageName}.domain.entity.${ClassName};
import com.cloud.common.core.service.BaseService;
#if($table.tree)
import com.cloud.common.core.domain.Ztree;
#end

/**
 * ${functionName}Service接口
 *
 * @author ${author}
 * @date ${datetime}
 */
public interface I${ClassName}Service extends BaseService<${ClassName}>{

    #if($table.tree)

        /**
         * 查询${functionName}树列表
         *
         * @return 所有${functionName}信息
         */
        public List<Ztree> select${ClassName}Tree();
    #end
}
