<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.order.mapper.OmsDemandOrderGatherEditMapper">

    <sql id="Base_Column_List">
            id,
            demand_order_code,
            order_type,
            order_from,
            product_material_code,
            product_material_desc,
            product_factory_code,
            customer_code,
            customer_desc,
            mrp_range,
            bom_version,
            purchase_group_code,
            place,
            delivery_date,
            `year`,
            weeks,
            order_num,
            version,
            plan_order_order,
            `status`,
            audit_status,
            sap_messages,
            del_flag,
            remark,
            create_time,
            create_by,
            update_time,
            update_by
    </sql>
    <resultMap type="OmsDemandOrderGatherEdit" id="OmsDemandOrderGatherEditResult">
        <result property="id" column="id"/>
        <result property="demandOrderCode" column="demand_order_code"/>
        <result property="orderType" column="order_type"/>
        <result property="orderFrom" column="order_from"/>
        <result property="productMaterialCode" column="product_material_code"/>
        <result property="productMaterialDesc" column="product_material_desc"/>
        <result property="productFactoryCode" column="product_factory_code"/>
        <result property="customerCode" column="customer_code"/>
        <result property="customerDesc" column="customer_desc"/>
        <result property="mrpRange" column="mrp_range"/>
        <result property="bomVersion" column="bom_version"/>
        <result property="purchaseGroupCode" column="purchase_group_code"/>
        <result property="place" column="place"/>
        <result property="deliveryDate" column="delivery_date"/>
        <result property="year" column="year"/>
        <result property="weeks" column="weeks"/>
        <result property="orderNum" column="order_num"/>
        <result property="version" column="version"/>
        <result property="planOrderOrder" column="plan_order_order"/>
        <result property="status" column="status"/>
        <result property="auditStatus" column="audit_status"/>
        <result property="sapMessages" column="sap_messages"/>
        <result property="delFlag" column="del_flag"/>
        <result property="remark" column="remark"/>
        <result property="createTime" column="create_time"/>
        <result property="createBy" column="create_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateBy" column="update_by"/>
    </resultMap>

    <sql id="selectOmsDemandOrderGatherEditVo">
        select id,
               demand_order_code,
               order_type,
               order_from,
               product_material_code,
               product_material_desc,
               product_factory_code,
               customer_code,
               customer_desc,
               mrp_range,
               bom_version,
               purchase_group_code,
               place,
               delivery_date,
               year,
               weeks,
               order_num,
               version,
               plan_order_order,
               status,
               audit_status,
               sap_messages,
               del_flag,
               remark,
               create_time,
               create_by,
               update_time,
               update_by
        from oms_demand_order_gather_edit
    </sql>

<!--auto generated by MybatisCodeHelper on 2020-06-16-->
    <delete id="deleteByCreateByAndCustomerCode">
        delete from oms_demand_order_gather_edit
        <where>
            <if test="createBy != null and createBy != ''">
                and create_by=#{createBy}
            </if>
            <if test="customerCodes != null">
                and customer_code in
                <foreach collection="customerCodes" item="item" open="(" close=")" separator="," >
                    #{item}
                </foreach>
            </if>
        </where>
    </delete>

    <select id="selectDistinctMaterialCodeAndFactoryCode" parameterType="OmsDemandOrderGatherEdit" resultMap="OmsDemandOrderGatherEditResult">
        select DISTINCT product_material_code,product_factory_code from oms_demand_order_gather_edit
        <where>
            <if test="dto.productMaterialCode != null and dto.productMaterialCode != ''">
                and product_material_code=#{dto.productMaterialCode}
            </if>
            <if test="dto.productFactoryCode != null and dto.productFactoryCode != ''">
                and product_factory_code=#{dto.productFactoryCode}
            </if>
            <if test="dto.orderFrom != null and dto.orderFrom != ''">
                and order_from=#{dto.orderFrom}
            </if>
            <if test="dto.productFactoryList != null ">
                and product_factory_code in
                <foreach collection="dto.productFactoryList" item="item" open="(" close=")" separator="," >
                    #{item}
                </foreach>
            </if>
        </where>
        ORDER BY product_material_code,product_factory_code DESC
    </select>

    <select id="selectInfoInMaterialCodeAndFactoryCode" parameterType="java.util.List"  resultMap="OmsDemandOrderGatherEditResult">
        <include refid="selectOmsDemandOrderGatherEditVo"></include>
        <where>
            <foreach collection="list" item="item"  separator="or">
                (product_material_code = #{item.productMaterialCode} and product_factory_code = #{item.productFactoryCode} )
            </foreach>
            and del_flag = 0
        </where>
        ORDER BY weeks asc
    </select>
</mapper>
