<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.order.mapper.OmsInternalOrderResMapper">

    <sql id="Base_Column_List">
        id,
        order_code,
        order_line_code,
        product_material_code,
        product_material_desc,
        product_factory_code,
        product_factory_desc,
        customer_code,
        customer_desc,
        purchase_group_code,
        purchase_group_desc,
        supplier_code,
        supplier_desc,
        delivery_date,
        order_num,
        delivery_num,
        sap_del_flag,
        delivery_flag,
        unit,
        `status`,
        create_date_pr,
        project_type,
        mrp_range,
        marker,
        version,
        del_flag,
        remark,
        create_time,
        create_by,
        update_time,
        update_by
    </sql>
    <resultMap type="OmsInternalOrderRes" id="OmsInternalOrderResResult">
        <result property="id" column="id"/>
        <result property="orderCode" column="order_code"/>
        <result property="orderLineCode" column="order_line_code"/>
        <result property="productMaterialCode" column="product_material_code"/>
        <result property="productMaterialDesc" column="product_material_desc"/>
        <result property="productFactoryCode" column="product_factory_code"/>
        <result property="productFactoryDesc" column="product_factory_desc"/>
        <result property="customerCode" column="customer_code"/>
        <result property="customerDesc" column="customer_desc"/>
        <result property="purchaseGroupCode" column="purchase_group_code"/>
        <result property="purchaseGroupDesc" column="purchase_group_desc"/>
        <result property="supplierCode" column="supplier_code"/>
        <result property="supplierDesc" column="supplier_desc"/>
        <result property="deliveryDate" column="delivery_date"/>
        <result property="orderNum" column="order_num"/>
        <result property="deliveryNum" column="delivery_num"/>
        <result property="sapDelFlag" column="sap_del_flag"/>
        <result property="deliveryFlag" column="delivery_flag"/>
        <result property="unit" column="unit"/>
        <result property="status" column="status"/>
        <result property="createDatePr" column="create_date_pr"/>
        <result property="projectType" column="project_type"/>
        <result property="mrpRange" column="mrp_range"/>
        <result property="marker" column="marker"/>
        <result property="version" column="version"/>
        <result property="delFlag" column="del_flag"/>
        <result property="remark" column="remark"/>
        <result property="createTime" column="create_time"/>
        <result property="createBy" column="create_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateBy" column="update_by"/>
    </resultMap>

    <sql id="selectOmsInternalOrderResVo">
        select id,
               order_code,
               order_line_code,
               product_material_code,
               product_material_desc,
               product_factory_code,
               product_factory_desc,
               customer_code,
               customer_desc,
               purchase_group_code,
               purchase_group_desc,
               supplier_code,
               supplier_desc,
               delivery_date,
               order_num,
               delivery_num,
               sap_del_flag,
               delivery_flag,
               unit,
               status,
               create_date_pr,
               project_type,
               mrp_range,
               marker,
               version,
               del_flag,
               remark,
               create_time,
               create_by,
               update_time,
               update_by
        from oms_internal_order_res
    </sql>

    <!--auto generated by MybatisCodeHelper on 2020-06-12-->
    <delete id="deleteByMarker">
        delete from oms_internal_order_res
        <where>
            <if test="marker != null and marker != ''">
                and marker=#{marker}
            </if>
        </where>
    </delete>

    <insert id="batchInsertOrUpdate" parameterType="java.util.List">
        insert into oms_internal_order_res (
        order_code,
        order_line_code,
        product_material_code,
        product_material_desc,
        product_factory_code,
        product_factory_desc,
        customer_code,
        customer_desc,
        purchase_group_code,
        purchase_group_desc,
        supplier_code,
        supplier_desc,
        delivery_date,
        order_num,
        delivery_num,
        sap_del_flag,
        delivery_flag,
        unit,
        status,
        create_date_pr,
        project_type,
        mrp_range,
        marker,
        version,
        del_flag,
        remark,
        create_time,
        create_by)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.orderCode},
            #{item.orderLineCode},
            #{item.productMaterialCode},
            ifnull(#{item.productMaterialDesc}, ''),
            #{item.productFactoryCode},
            ifnull(#{item.productFactoryDesc}, ''),
            #{item.customerCode},
            ifnull(#{item.customerDesc}, ''),
            ifnull(#{item.purchaseGroupCode}, ''),
            ifnull(#{item.purchaseGroupDesc}, ''),
            #{item.supplierCode},
            ifnull(#{item.supplierDesc}, ''),
            ifnull(#{item.deliveryDate}, ''),
            ifnull(#{item.orderNum}, 0),
            ifnull(#{item.deliveryNum}, 0),
            ifnull(#{item.sapDelFlag}, ''),
            ifnull(#{item.deliveryFlag}, ''),
            ifnull(#{item.unit}, ''),
            ifnull(#{item.status}, ''),
            ifnull(#{item.createDatePr}, ''),
            ifnull(#{item.projectType}, ''),
            ifnull(#{item.mrpRange}, ''),
            ifnull(#{item.marker}, ''),
            ifnull(#{item.version}, ''),
            ifnull(#{item.delFlag}, 0),
            ifnull(#{item.remark}, ''),
            ifnull(#{item.createTime}, now()),
            ifnull(#{item.createBy}, '')
            )
        </foreach>
        DUPLICATE KEY UPDATE
        update_time = now()
    </insert>
</mapper>
