<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.order.mapper.OmsProductionOrderMapper">

    <sql id="Base_Column_List">
    id,
    order_code,
    product_order_code,
    order_class,
    branch_office,
    monitor,
    product_material_code,
    product_material_desc,
    product_factory_code,
    product_factory_desc,
    order_type,
    product_num,
    delivery_num,
    unit,
    product_line_code,
    product_start_date,
    product_end_date,
    product_end_time,
    actual_end_date,
    bom_version,
    new_version,
    `sequence`,
    destination,
    delivery_date,
    old_new,
    use_time,
    rhythm,
    product_quota,
    pcb_special_code,
    process_cost,
    outsource_type,
    csd_flag,
    product_status,
    life_cycle,
    `status`,
    audit_status,
    sap_messages,
    del_flag,
    remark,
    create_time,
    create_by,
    update_time,
    update_by
</sql>
    <resultMap type="OmsProductionOrder" id="OmsProductionOrderResult">
        <result property="id" column="id"/>
        <result property="orderCode" column="order_code"/>
        <result property="productOrderCode" column="product_order_code"/>
        <result property="orderClass" column="order_class"/>
        <result property="branchOffice" column="branch_office"/>
        <result property="monitor" column="monitor"/>
        <result property="productMaterialCode" column="product_material_code"/>
        <result property="productMaterialDesc" column="product_material_desc"/>
        <result property="productFactoryCode" column="product_factory_code"/>
        <result property="productFactoryDesc" column="product_factory_desc"/>
        <result property="orderType" column="order_type"/>
        <result property="productNum" column="product_num"/>
        <result property="deliveryNum" column="delivery_num"/>
        <result property="unit" column="unit"/>
        <result property="productLineCode" column="product_line_code"/>
        <result property="productStartDate" column="product_start_date"/>
        <result property="productEndDate" column="product_end_date"/>
        <result property="productEndTime" column="product_end_time"/>
        <result property="actualEndDate" column="actual_end_date"/>
        <result property="bomVersion" column="bom_version"/>
        <result property="newVersion" column="new_version"/>
        <result property="sequence" column="sequence"/>
        <result property="destination" column="destination"/>
        <result property="deliveryDate" column="delivery_date"/>
        <result property="oldNew" column="old_new"/>
        <result property="useTime" column="use_time"/>
        <result property="rhythm" column="rhythm"/>
        <result property="productQuota" column="product_quota"/>
        <result property="pcbSpecialCode" column="pcb_special_code"/>
        <result property="processCost" column="process_cost"/>
        <result property="outsourceType" column="outsource_type"/>
        <result property="csdFlag" column="csd_flag"/>
        <result property="productStatus" column="product_status"/>
        <result property="lifeCycle" column="life_cycle"/>
        <result property="status" column="status"/>
        <result property="auditStatus" column="audit_status"/>
        <result property="sapMessages" column="sap_messages"/>
        <result property="delFlag" column="del_flag"/>
        <result property="remark" column="remark"/>
        <result property="createTime" column="create_time"/>
        <result property="createBy" column="create_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateBy" column="update_by"/>
    </resultMap>

    <sql id="selectOmsProductionOrderVo">
        select id,
               order_code,
               product_order_code,
               order_class,
               branch_office,
               monitor,
               product_material_code,
               product_material_desc,
               product_factory_code,
               product_factory_desc,
               order_type,
               product_num,
               delivery_num,
               unit,
               product_line_code,
               product_start_date,
               product_end_date,
               product_end_time,
               actual_end_date,
               bom_version,
               new_version,
               sequence,
               destination,
               delivery_date,
               old_new,
               use_time,
               rhythm,
               product_quota,
               pcb_special_code,
               process_cost,
               outsource_type,
               csd_flag,
               product_status,
               life_cycle,
               status,
               audit_status,
               sap_messages,
               del_flag,
               remark,
               create_time,
               create_by,
               update_time,
               update_by
        from oms_production_order
    </sql>
    <select id="selectByFactoryAndMaterialAndLine" resultMap="OmsProductionOrderResult" parameterType="list">
        <include refid="selectOmsProductionOrderVo"/>
        <where>
            <foreach collection="list" item="item" open="(" close=")" separator="or">
                (product_factory_code = #{item.productFactoryCode,jdbcType=VARCHAR}
                and product_material_code = #{item.productMaterialCode,jdbcType=VARCHAR}
                and product_line_code = #{item.productLineCode,jdbcType=VARCHAR}
                and (outsource_type = '0' or outsource_type = '1')
                and datediff(DATE_FORMAT(now(),'%Y-%m-%d'),delivery_date) > 7)
                or
                (product_factory_code = #{item.productFactoryCode,jdbcType=VARCHAR}
                and product_material_code = #{item.productMaterialCode,jdbcType=VARCHAR}
                and product_line_code = #{item.productLineCode,jdbcType=VARCHAR}
                and outsource_type = '2'
                and datediff(DATE_FORMAT(now(),'%Y-%m-%d'),delivery_date) > 3)
            </foreach>
        </where>
    </select>

<!--auto generated by MybatisCodeHelper on 2020-06-23-->
    <update id="updateStatusByIds" parameterType="list">
        <foreach collection="list" separator=";" item="item">
            update oms_production_order
            set `status`= '4'
            where id=#{item}
        </foreach>
    </update>

<!--auto generated by MybatisCodeHelper on 2020-06-28-->
    <select id="selectByFactoryAndMaterialAndStartDate"
            resultMap="OmsProductionOrderResult" parameterType="list">
        select
        <include refid="Base_Column_List"/>
        from oms_production_order
        where
        <foreach collection="list" item="item" separator="or" open="(" close=")">
            product_factory_code=#{item.productFactoryCode}
            and product_material_code=#{item.productMaterialCode}
            and product_start_date=#{item.productStartDate}
            and bom_version=#{item.bomVersion,jdbcType=VARCHAR}
        </foreach>
    </select>

    <select id="selectByOrderCode" parameterType="list" resultMap="OmsProductionOrderResult">
        select
        <include refid="Base_Column_List"/>
        from oms_production_order
        where
        order_code in
        <foreach collection="list" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
    </select>

    <select id="updateByOrderCode" parameterType="list">
      <foreach collection="list" item="item" separator=";">
          update oms_production_order
          <set>
              <if test="item.status != null and item.status != ''">
                  status = #{item.status,jdbcType=VARCHAR},
              </if>
              update_by = #{item.updateBy},
              update_time = now()
          </set>
          <where>
              order_code = #{item.orderCode,jdbcType=VARCHAR}
          </where>
      </foreach>
    </select>

    <update id="batchUpdateByOrderCode" parameterType="list">
        <foreach collection="list" separator=";" item="item">
            update oms_production_order
            <trim prefix="set" suffixOverrides=",">
                <if test="item.status != null and item.status != ''">
                    status = #{item.status},
                </if>
                <if test="item.sapMessages != null and item.sapMessages != ''">
                    sap_messages= #{item.sapMessages},
                </if>
                <if test="item.productOrderCode != null and item.productOrderCode != ''">
                    product_order_code = #{item.productOrderCode},
                </if>
                <if test="item.orderType != null and item.orderType != ''">
                    order_type = #{item.orderType},
                </if>
                <if test="item.productStartDate != null and item.productStartDate != ''">
                    product_start_date = #{item.productStartDate},
                </if>
                <if test="item.productEndDate != null and item.productEndDate != ''">
                    product_end_date = #{item.productEndDate},
                </if>
                <if test="item.productNum != null and item.productNum != ''">
                    product_num = #{item.productNum},
                </if>
                <if test="item.destination != null and item.destination != ''">
                    destination = #{item.destination},
                </if>
                <if test="item.newVersion != null and item.newVersion != ''">
                    new_version = #{item.newVersion},
                </if>
                <if test="item.updateBy != null and item.updateBy != ''">
                    update_by = #{item.updateBy},
                </if>
            </trim>
            where order_code=#{item.orderCode}
        </foreach>
    </update>

    <update id="batchUpdateByProductOrderCode" parameterType="java.util.List">
        <foreach collection="list" separator=";" item="item">
            update oms_production_order
            <trim prefix="set" suffixOverrides=",">
                <if test="item.deliveryNum != null and item.deliveryNum != ''">
                    delivery_num = #{item.deliveryNum},
                </if>
                <if test="item.status != null and item.status != ''">
                    status = #{item.status},
                </if>
                <if test="item.actualEndDate != null">
                    actual_end_date = #{item.actualEndDate},
                </if>
                <if test="item.updateBy != null and item.updateBy != ''">
                    update_by = #{item.updateBy},
                </if>
            </trim>
            where product_order_code=#{item.productOrderCode}
        </foreach>
    </update>

</mapper>
