<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.order.mapper.OmsProductionOrderDetailMapper">

    <sql id="Base_Column_List">
	id,
	product_order_code,
	product_factory_code,
	material_code,
	material_desc,
	bom_num,
	basic_num,
	raw_material_product_num,
	unit,
	bom_version,
	purchase_group,
	storage_point,
	`status`,
	del_flag,
	remark,
	create_time,
	create_by,
	update_time,
	update_by
</sql>
    <resultMap type="OmsProductionOrderDetail" id="OmsProductionOrderDetailResult">
        <result property="id" column="id"/>
        <result property="productOrderCode" column="product_order_code"/>
        <result property="productFactoryCode" column="product_factory_code"/>
        <result property="materialCode" column="material_code"/>
        <result property="materialDesc" column="material_desc"/>
        <result property="productStartDate" column="product_start_date"/>
        <result property="bomNum" column="bom_num"/>
        <result property="basicNum" column="basic_num"/>
        <result property="rawMaterialProductNum" column="raw_material_product_num"/>
        <result property="unit" column="unit"/>
        <result property="bomVersion" column="bom_version"/>
        <result property="purchaseGroup" column="purchase_group"/>
        <result property="storagePoint" column="storage_point"/>
        <result property="status" column="status"/>
        <result property="delFlag" column="del_flag"/>
        <result property="remark" column="remark"/>
        <result property="createTime" column="create_time"/>
        <result property="createBy" column="create_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateBy" column="update_by"/>
    </resultMap>

    <resultMap type="OmsProductionOrderDetailVo" id="OmsProductionOrderDetailVoResult">
        <result property="productFactoryCode" column="product_factory_code"/>
        <result property="materialCode" column="material_code"/>
        <result property="materialDesc" column="material_desc"/>
        <result property="unit" column="unit"/>
        <result property="purchaseGroup" column="purchase_group"/>
    </resultMap>
    <resultMap type="RawMaterialReviewDetailVo" id="RawMaterialReviewDetailVoResult">
        <result property="productStartDate" column="product_start_date"/>
        <result property="productNum" column="product_num"/>
    </resultMap>

    <sql id="selectOmsProductionOrderDetailVo">
        select id, product_order_code,product_factory_code, material_code, material_desc,product_start_date, bom_num, basic_num, raw_material_product_num, unit, bom_version, purchase_group, storage_point, status, del_flag, remark, create_time, create_by, update_time, update_by from oms_production_order_detail
    </sql>

    <select id="selectListByOrderCodes" parameterType="String" resultMap="OmsProductionOrderDetailResult">
        <include refid="selectOmsProductionOrderDetailVo"/>
        where product_order_code in (${orderCodes})
    </select>

    <!--auto generated by MybatisCodeHelper on 2020-06-23-->
    <delete id="deleteByProductOrderCode">
        delete from oms_production_order_detail
        where product_order_code=#{productOrderCode}
    </delete>

    <select id="selectListPageInfo" parameterType="OmsProductionOrderDetail"
            resultMap="OmsProductionOrderDetailVoResult">
        select
        detail.material_code,detail.material_desc,detail.product_factory_code,detail.purchase_group,detail.unit
        from oms_production_order_detail detail , oms_production_order o
        <where>
            detail.product_order_code = o.order_code
            and (o.audit_status = '0' or o.audit_status = '2')
            and detail.product_start_date <![CDATA[ >= ]]> DATE_FORMAT(now(),'%Y-%m-%d')
            and detail.product_start_date <![CDATA[ < ]]> DATE_FORMAT(DATE_ADD(now(),INTERVAL 14 day),'%Y-%m-%d')
            <if test="productFactoryCode != null and productFactoryCode != ''">
                and detail.product_factory_code = #{productFactoryCode,jdbcType=VARCHAR}
            </if>
            <if test="materialCode != null and materialCode != ''">
                and detail.material_code = #{materialCode,jdbcType=VARCHAR}
            </if>
            <if test="purchaseGroup != null and purchaseGroup != ''">
                and detail.purchase_group = #{purchaseGroup,jdbcType=VARCHAR}
            </if>
            <if test="productFactoryQuery != null and productFactoryQuery != ''">
                and detail.product_factory_code in (${productFactoryQuery})
            </if>
            <if test="purchaseGroupQuery != null and purchaseGroupQuery != ''">
                and detail.purchase_group in (${purchaseGroupQuery})
            </if>
        </where>
        group by detail.product_factory_code,detail.material_code,detail.material_desc,detail.purchase_group,detail.unit
    </select>

    <select id="selectRawMaterialDay" resultMap="RawMaterialReviewDetailVoResult"
            parameterType="OmsProductionOrderDetail">
        select
        detail.product_start_date as product_start_date,
        sum(IFNULL(detail.raw_material_product_num,0)) as product_num
        from oms_production_order_detail detail , oms_production_order o
        <where>
            detail.product_order_code = o.order_code
            and (o.audit_status = '0' or o.audit_status = '2')
            and detail.product_start_date <![CDATA[ >= ]]> DATE_FORMAT(now(),'%Y-%m-%d')
            and detail.product_start_date <![CDATA[ < ]]> DATE_FORMAT(DATE_ADD(now(),INTERVAL 14 day),'%Y-%m-%d')
            and detail.product_factory_code = #{productFactoryCode,jdbcType=VARCHAR}
            and detail.material_code = #{materialCode,jdbcType=VARCHAR}
            and detail.purchase_group = #{purchaseGroup,jdbcType=VARCHAR}
        </where>
        group by
        detail.product_factory_code,detail.material_code,detail.purchase_group,detail.unit,detail.product_start_date
        order by detail.product_start_date asc
    </select>

    <select id="selectCommitListPageInfo" parameterType="OmsProductionOrderDetail"
            resultMap="OmsProductionOrderDetailResult">
        select
        (@i:= @i+1) as id,
        detail.product_factory_code,detail.material_code,detail.material_desc,detail.product_start_date,detail.purchase_group,detail.unit,detail.status,
        sum(IFNULL(detail.raw_material_product_num,0)) as raw_material_product_num
        from oms_production_order_detail detail, oms_production_order o,(SELECT @i:=0) as i
        <where>
            detail.product_order_code = o.order_code
            and (o.audit_status = '0' or o.audit_status = '2')
            and detail.product_start_date <![CDATA[ >= ]]> DATE_FORMAT(now(),'%Y-%m-%d')
            and detail.product_start_date <![CDATA[ < ]]> DATE_FORMAT(DATE_ADD(now(),INTERVAL 14 day),'%Y-%m-%d')
            <if test="productFactoryCode != null and productFactoryCode != ''">
                and detail.product_factory_code = #{productFactoryCode,jdbcType=VARCHAR}
            </if>
            <if test="materialCode != null and materialCode != ''">
                and detail.material_code = #{materialCode,jdbcType=VARCHAR}
            </if>
            <if test="checkStartDate != null and checkStartDate != ''">
                and detail.product_start_date >= #{checkStartDate,jdbcType=VARCHAR}
            </if>
            <if test="checkEndDate != null and checkEndDate != ''">
                and detail.product_start_date <![CDATA[ <= ]]> #{checkEndDate,jdbcType=VARCHAR}
            </if>
            <if test="status != null and status != ''">
                and detail.status = #{status,jdbcType=VARCHAR}
            </if>
            <if test="productFactoryQuery != null and productFactoryQuery != ''">
                and detail.product_factory_code in (${productFactoryQuery})
            </if>
            <if test="purchaseGroupQuery != null and purchaseGroupQuery != ''">
                and detail.purchase_group in (${purchaseGroupQuery})
            </if>
        </where>
        group by detail.product_factory_code,detail.material_code,detail.material_desc,detail.product_start_date,detail.purchase_group,detail.unit,detail.status
    </select>

    <select id="selectListByList" resultMap="OmsProductionOrderDetailResult" parameterType="list">
        select
        detail.id,
        detail.product_order_code,
        detail.product_factory_code,
        detail.material_code,
        detail.material_desc,
        detail.product_start_date,
        detail.bom_num,
        detail.basic_num,
        detail.raw_material_product_num,
        detail.unit,
        detail.bom_version,
        detail.purchase_group,
        detail.storage_point,
        detail.status,
        detail.del_flag,
        detail.remark,
        detail.create_time,
        detail.create_by,
        detail.update_time,
        detail.update_by
        from oms_production_order_detail detail,oms_production_order o
        <where>
            <foreach collection="list" item="item" separator="or" open="(" close=")">
                detail.product_order_code = o.order_code
                <if test="item.productMaterialCode != null and item.productMaterialCode != ''">
                    and o.product_material_code = #{item.productMaterialCode,jdbcType=VARCHAR}
                </if>
                <if test="item.productFactoryCode != null and item.productFactoryCode != ''">
                    and detail.product_factory_code = #{item.productFactoryCode,jdbcType=VARCHAR}
                </if>
                <if test="item.productStartDate != null and item.productStartDate != ''">
                    and detail.product_start_date = #{item.productStartDate,jdbcType=VARCHAR}
                </if>
                <if test="item.rawMaterialCode != null and item.rawMaterialCode != ''">
                    and detail.material_code = #{item.rawMaterialCode,jdbcType=VARCHAR}
                </if>
                <if test="item.bomVersion != null and item.bomVersion != ''">
                    and detail.bom_version = #{item.bomVersion,jdbcType=VARCHAR}
                </if>
                <if test="item.status != null and item.status != ''">
                    and detail.status = #{item.status,jdbcType=VARCHAR}
                </if>
            </foreach>
        </where>
    </select>

    <select id="selectByFactoryDateMaterialList" resultMap="OmsProductionOrderDetailResult" parameterType="list">
        select detail.id, detail.product_order_code,detail.product_factory_code, detail.material_code,detail.material_desc,
        detail.product_start_date,detail.bom_num, detail.basic_num, detail.raw_material_product_num, detail.unit,
        detail.bom_version,detail.purchase_group, detail.storage_point, detail.status,
        detail.del_flag, detail.remark, detail.create_time, detail.create_by, detail.update_time, detail.update_by
        from oms_production_order_detail detail,oms_production_order o
        <where>
            o.audit_status = '0' or o.audit_status = '2' and
            <foreach collection="list" item="item" separator="or" open="(" close=")">
                (1=1
                <if test="item.productFactoryCode != null and item.productFactoryCode != ''">
                    and detail.product_factory_code = #{item.productFactoryCode,jdbcType=VARCHAR}
                </if>
                <if test="item.productStartDate != null and item.productStartDate != ''">
                    and detail.product_start_date = #{item.productStartDate,jdbcType=VARCHAR}
                </if>
                <if test="item.materialCode != null and item.materialCode != ''">
                    and detail.material_code = #{item.materialCode,jdbcType=VARCHAR}
                </if>
                <if test="item.productFactoryQuery != null and item.productFactoryQuery != ''">
                    and detail.product_factory_code in (${item.productFactoryQuery})
                </if>
                <if test="item.purchaseGroupQuery != null and item.purchaseGroupQuery != ''">
                    and detail.purchase_group in (${item.purchaseGroupQuery})
                </if>
                <if test="item.status != null and item.status != ''">
                    and detail.status = #{item.status,jdbcType=VARCHAR}
                </if>
                )
            </foreach>
        </where>
    </select>

    <select id="selectByOrderCodeList" parameterType="list" resultMap="OmsProductionOrderDetailResult">
        <include refid="selectOmsProductionOrderDetailVo"/>
        <where>
            product_order_code in
            <foreach collection="list" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
        </where>
    </select>
    <update id="updateBatchByProductOrderCode" parameterType="list">
        <foreach collection="list" item="item" separator=";">
            update oms_production_order_detail
            <set>
                <if test="item.status != null and item.status != ''">
                    status = #{item.status,jdbcType=VARCHAR},
                </if>
                update_by = #{item.updateBy},
                update_time = now()
            </set>
            <where>
                1=1
                <if test="item.productOrderCode != null and item.productOrderCode != ''">
                    and product_order_code = #{item.productOrderCode,jdbcType=VARCHAR}
                </if>
                <if test="item.materialCode != null and item.materialCode != ''">
                    and material_code = #{item.materialCode,jdbcType=VARCHAR}
                </if>
            </where>
        </foreach>
    </update>
</mapper>
