<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.order.mapper.OmsRawMaterialFeedbackMapper">

    <sql id="Base_Column_List">
	id,
	product_material_code,
	product_material_desc,
	product_factory_code,
	purchase_group,
	raw_material_code,
	raw_material_desc,
	product_start_date,
	product_num,
	raw_material_num,
	product_content_num,
	raw_material_content_num,
	bom_version,
	`status`,
	del_flag,
	product_person,
	remark,
	create_time,
	create_by,
	update_time,
	update_by
</sql>
    <resultMap type="OmsRawMaterialFeedback" id="OmsRawMaterialFeedbackResult">
        <result property="id" column="id"/>
        <result property="productMaterialCode" column="product_material_code"/>
        <result property="productMaterialDesc" column="product_material_desc"/>
        <result property="productFactoryCode" column="product_factory_code"/>
        <result property="purchaseGroup" column="purchase_group"/>
        <result property="rawMaterialCode" column="raw_material_code"/>
        <result property="rawMaterialDesc" column="raw_material_desc"/>
        <result property="productStartDate" column="product_start_date"/>
        <result property="productNum" column="product_num"/>
        <result property="rawMaterialNum" column="raw_material_num"/>
        <result property="productContentNum" column="product_content_num"/>
        <result property="rawMaterialContentNum" column="raw_material_content_num"/>
        <result property="bomVersion" column="bom_version"/>
        <result property="status" column="status"/>
        <result property="productPerson" column="product_person"/>
        <result property="delFlag" column="del_flag"/>
        <result property="remark" column="remark"/>
        <result property="createTime" column="create_time"/>
        <result property="createBy" column="create_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateBy" column="update_by"/>
    </resultMap>

    <sql id="selectOmsRawMaterialFeedbackVo">
        select id, product_material_code, product_material_desc,product_factory_code,purchase_group, raw_material_code, raw_material_desc, product_start_date, product_num, raw_material_num, product_content_num, raw_material_content_num,bom_version, status,product_person, del_flag, remark, create_time, create_by, update_time, update_by from oms_raw_material_feedback
    </sql>
    <select id="selectByList" parameterType="list" resultMap="OmsRawMaterialFeedbackResult">
        <include refid="selectOmsRawMaterialFeedbackVo"/>
        <where>
            <foreach collection="list" item="item" separator="or" >
                (
                <if test="item.productFactoryCode != null and item.productFactoryCode != ''">
                    product_factory_code = #{item.productFactoryCode,jdbcType=VARCHAR}
                </if>
                <if test="item.productMaterialCode != null and item.productMaterialCode != ''">
                    and product_material_code = #{item.productMaterialCode,jdbcType=VARCHAR}
                </if>
                <if test="item.productStartDate != null and item.productStartDate != ''">
                    and product_start_date = #{item.productStartDate,jdbcType=VARCHAR}
                </if>
                <if test="item.bomVersion != null and item.bomVersion != ''">
                    and bom_version = #{item.bomVersion,jdbcType=VARCHAR}
                </if>
                )
            </foreach>
            and status = '0'
            and del_flag = '0'
        </where>
    </select>
    <update id="updateBatchByList" parameterType="list">
        <foreach collection="list" item="item" separator=";">
            update oms_raw_material_feedback
            <set>
                status = '3',
                update_by = #{item.updateBy},
                update_time = now()
            </set>
            <where>
                product_factory_code = #{item.productFactoryCode,jdbcType=VARCHAR}
                and raw_material_code = #{item.rawMaterialCode,jdbcType=VARCHAR}
                and product_start_date = #{item.productStartDate,jdbcType=VARCHAR}
                and status = #{item.status,jdbcType=VARCHAR}
            </where>
        </foreach>
    </update>

<!--auto generated by MybatisCodeHelper on 2020-08-06-->
    <update id="updateStatusById">
        update oms_raw_material_feedback
        set `status`=#{updatedStatus}
        where id=#{id}
    </update>

<!--auto generated by MybatisCodeHelper on 2020-10-16-->
    <update id="updateById">
        update oms_raw_material_feedback
        <set>
            <if test="updated.productMaterialCode != null">
                product_material_code = #{updated.productMaterialCode},
            </if>
            <if test="updated.productMaterialDesc != null">
                product_material_desc = #{updated.productMaterialDesc},
            </if>
            <if test="updated.productFactoryCode != null">
                product_factory_code = #{updated.productFactoryCode},
            </if>
            <if test="updated.purchaseGroup != null">
                purchase_group = #{updated.purchaseGroup},
            </if>
            <if test="updated.rawMaterialCode != null">
                raw_material_code = #{updated.rawMaterialCode},
            </if>
            <if test="updated.rawMaterialDesc != null">
                raw_material_desc = #{updated.rawMaterialDesc},
            </if>
            <if test="updated.productStartDate != null">
                product_start_date = #{updated.productStartDate},
            </if>
            <if test="updated.productNum != null">
                product_num = #{updated.productNum},
            </if>
            <if test="updated.rawMaterialNum != null">
                raw_material_num = #{updated.rawMaterialNum},
            </if>
            <if test="updated.productContentNum != null">
                product_content_num = #{updated.productContentNum},
            </if>
            <if test="updated.rawMaterialContentNum != null">
                raw_material_content_num = #{updated.rawMaterialContentNum},
            </if>
            <if test="updated.bomVersion != null">
                bom_version = #{updated.bomVersion},
            </if>
            <if test="updated.status != null">
                status = #{updated.status},
            </if>
            <if test="updated.productPerson != null">
                product_person = #{updated.productPerson},
            </if>
            <if test="updated.delFlag != null">
                del_flag = #{updated.delFlag},
            </if>
            <if test="updated.remark != null">
                remark = #{updated.remark},
            </if>
            <if test="updated.createTime != null">
                create_time = #{updated.createTime},
            </if>
            <if test="updated.createBy != null">
                create_by = #{updated.createBy},
            </if>
            <if test="updated.updateTime != null">
                update_time = #{updated.updateTime},
            </if>
            <if test="updated.updateBy != null">
                update_by = #{updated.updateBy},
            </if>
        </set>
        where id=#{id}
    </update>
</mapper>
