<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.settle.mapper.SmsClaimCashDetailMapper">

    <resultMap type="SmsClaimCashDetail" id="SmsClaimCashDetailResult">
        <result property="id" column="id"/>
        <result property="claimNo" column="claim_no"/>
        <result property="claimType" column="claim_type"/>
        <result property="cashAmount" column="cash_amount"/>
        <result property="settleNo" column="settle_no"/>
        <result property="shouldCashMounth" column="should_cash_mounth"/>
        <result property="actualCashMounth" column="actual_cash_mounth"/>
        <result property="delFlag" column="del_flag"/>
        <result property="remark" column="remark"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="selectSmsClaimCashDetailVo">
        select id,
               claim_no,
               claim_type,
               cash_amount,
               settle_no,
               should_cash_mounth,
               actual_cash_mounth,
               del_flag,
               remark,
               create_by,
               create_time,
               update_by,
               update_time
        from sms_claim_cash_detail
    </sql>

    <select id="selectSumCashGroupByClaimTypeActual" resultMap="SmsClaimCashDetailResult">
        select claim_type, SUM(cash_amount) as cash_amount
        from sms_claim_cash_detail
        WHERE settle_no = #{settleNo}
          and should_cash_mounth = actual_cash_mounth
        GROUP BY claim_type
    </select>

    <select id="selectSumCashGroupByClaimTypeHistory" resultMap="SmsClaimCashDetailResult">
        select claim_type , SUM(cash_amount) as cash_amount
        from sms_claim_cash_detail
        WHERE settle_no = #{settleNo}
        and should_cash_mounth != actual_cash_mounth
        GROUP BY claim_type
    </select>

</mapper>
