<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.settle.mapper.SmsDelaysDeliveryMapper">

    <resultMap type="SmsDelaysDelivery" id="SmsDelaysDeliveryResult">
        <result property="id" column="id"/>
        <result property="productLineCode" column="product_line_code"/>
        <result property="delaysNo" column="delays_no"/>
        <result property="productOrderCode" column="product_order_code"/>
        <result property="factoryCode" column="factory_code"/>
        <result property="productMaterialCode" column="product_material_code"/>
        <result property="productMaterialName" column="product_material_name"/>
        <result property="supplierCode" column="supplier_code"/>
        <result property="supplierName" column="supplier_name"/>
        <result property="delaysStatus" column="delays_status"/>
        <result property="deliveryDate" column="delivery_date"/>
        <result property="actDeliveryDate" column="act_delivery_date"/>
        <result property="delaysAmount" column="delays_amount"/>
        <result property="submitDate" column="submit_date"/>
        <result property="complaintDescription" column="complaint_description"/>
        <result property="complaintDate" column="complaint_date"/>
        <result property="supplierConfirmDate" column="supplier_confirm_date"/>
        <result property="settleNo" column="settle_no"/>
        <result property="settleFee" column="settle_fee"/>
        <result property="cashAmount" column="cash_amount"/>
        <result property="uncashAmount" column="uncash_amount"/>
        <result property="delFlag" column="del_flag"/>
        <result property="remark" column="remark"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="selectSmsDelaysDeliveryVo">
        select id,
               product_line_code,
               delays_no,
               product_order_code,
               factory_code,
               product_material_code,
               product_material_name,
               supplier_code,
               supplier_name,
               delays_status,
               delivery_date,
               act_delivery_date,
               delays_amount,
               submit_date,
               complaint_description,
               complaint_date,
               supplier_confirm_date,
               settle_no,
               settle_fee,
               cash_amount,
               uncash_amount,
               del_flag,
               remark,
               create_by,
               create_time,
               update_by,
               update_time
        from sms_delays_delivery
    </sql>


</mapper>
